.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-image: linear-gradient(
    rgba(0, 0, 255, 0.5),
    rgba(255, 255, 0, 0.5)
  );
}
.title {
  font-size: 50px;
  color: rgb(27, 48, 141);
}

.js-btn-restart,
.js-btn-music-play,
.js-btn-music-pause {
  width: 200px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid black;
  font-size: 28px;
  color: rgb(27, 48, 141);
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 0, 0.5);
    box-shadow: 0px 4px 4px wheat;
    border: none;
  }
}

.content {
  width: 609px;
  border: 2px solid black;
  margin: 0 auto;
}

.item {
  width: 200px;
  height: 200px;

  line-height: 1.6;
  text-align: center;
  display: inline-block;
  font-size: 125px;
  border: 2px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.1s;
}

.item:hover {
  background-color: #f1f1f10c;
}
